/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap')
/* Fonts */

/* Basics */
body
    font-family: 'DM Sans', sans-serif
    font-size: 16px
    color: #0F2137
    background: #E5E5E5

.wrapper
    overflow: hidden
    display: flex
    flex-direction: column
    min-height: 100%

.main
    flex: 1 1 auto

[class*="__container"]
    max-width: 1438px
    margin: 0 auto
    padding: 0px 15px

/* PC */
@media (max-width: 1438px)
    [class*="__container"]
        max-width: 970px

/* TABLET */
@media (max-width: 991.98px)
    [class*="__container"]
        max-width: 750px

/* MOBILE */
@media (max-width: 767.98px)
    [class*="__container"]
        max-width: none




/* header */

.header
    &__container
        display: flex
        flex-direction: row
        align-items: center
        min-height: 87px
    &__logo
        padding: 0px 0px 0px 56px
    &__menu
        flex: 1 1 auto
        display: flex
        flex-direction: row
        justify-content: flex-end
    &__button
        flex: 0 0 137px
        display: flex
        flex-direction: row
        justify-content: flex-end
        padding: 0px 52px 0px 0px



.menu
    &__list
        display: flex
        flex-direction: row
    &__item
        font-weight: 500
        &:not(:last-child)
            margin: 0px 42px 0px 0px
    &__link
        text-decoration: none
        font-size: 16px
        color: #0F2137

.get-started
    position: relative
    text-decoration: none
    font-weight: 700
    font-size: 16px
    color: #F94962
